bcrypt==3.1.7
cffi==1.14.0
click==7.1.2
cryptography==2.9.2
dnspython==1.16.0
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mysql-connector==2.2.9
mysql-connector-python==8.0.19
paramiko==2.7.1
protobuf==3.6.1
pyaml==20.4.0
pycparser==2.20
PyNaCl==1.4.0
PyYAML==5.4
six==1.14.0
Werkzeug==1.0.1
